.DS_Store
F:\Tutorials\1.new\projects\base-apparel-coming-soon\index_old.html
F:\Tutorials\1.new\projects\base-apparel-coming-soon\info.txt
F:\Tutorials\1.new\projects\base-apparel-coming-soon\style_old.css
exclude/